body{
    background: linear-gradient(#0f0f77 5%, #3535EC);
    background-attachment: fixed;
}
.spinner i{
    transition: all;
    animation: move 5s infinite;
}
@keyframes move{
    0% {transform: rotate(0deg)}
    25% {transform: rotate(45deg)}
    50% {transform: rotate(90deg)}
    75% {transform: rotate(1800deg)}
    100% {transform: rotate(360deg)}
}